
<div>

<mat-expansion-panel
  hideToggle
  [expanded]="true"
  class="painel">

  <mat-expansion-panel-header>

    <mat-panel-title>
      Lista de veículos
    </mat-panel-title>

  </mat-expansion-panel-header>


  <div class="mat-shadow-2">

    <table mat-table [dataSource]="dataSource">


     

      <ng-container matColumnDef="modelo">

        <th mat-header-cell *matHeaderCellDef>
          Modelo
        </th>

        <td mat-cell *matCellDef="let element">

          @if (editando === element) {

            <input
              matInput
              [(ngModel)]="element.modelo"
            />

          } @else {

            {{ element.modelo }}

          }

        </td>

      </ng-container>



      <ng-container matColumnDef="placa">

        <th mat-header-cell *matHeaderCellDef>
          Placa
        </th>

        <td mat-cell *matCellDef="let element">

          @if (editando === element) {

            <input
              matInput
              [(ngModel)]="element.placa"
            />

          } @else {

            {{ element.placa }}

          }

        </td>

      </ng-container>


      <ng-container matColumnDef="grupoNome">

        <th mat-header-cell *matHeaderCellDef>
          Grupo
        </th>

        <td mat-cell *matCellDef="let element">

          {{ element.grupoNome }}

        </td>

      </ng-container>


      <ng-container matColumnDef="acoes">

        <th mat-header-cell *matHeaderCellDef>
          Ações
        </th>

        <td mat-cell *matCellDef="let element">

          @if (editando === element) {

            <button
              mat-icon-button
              class="btn-salvar"
              (click)="salvar(element)"
              matTooltip="Salvar">

              <mat-icon>save</mat-icon>

            </button>

          } @else {

            <button
              mat-icon-button
              class="btn-editar"
              (click)="editar(element)"
              matTooltip="Editar">

              <mat-icon>edit</mat-icon>

            </button>


            <button
              mat-icon-button
              class="btn-excluir"
              (click)="excluir(element)"
              matTooltip="Excluir">

              <mat-icon>delete</mat-icon>

            </button>

          }

        </td>

      </ng-container>


      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">
      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns">
      </tr>

    </table>


    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>

  </div>

</mat-expansion-panel>


  <mat-expansion-panel hideToggle [expanded]="true" class="painel">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Cadastrar novo veiculo
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="form-modelo">

      <mat-stepper [linear]="true" #stepper>


        <mat-step #stepper [stepControl]="modeloFormGroup">

          <form [formGroup]="modeloFormGroup" class="input">

            <ng-template matStepLabel>
              Modelo
            </ng-template>

            <mat-form-field appearance="outline">

              <mat-label>
                Nome do modelo
              </mat-label>

              <input matInput formControlName="modelo" placeholder="Ex: modelo honda">

            </mat-form-field>


            <div class="acoes-step">

              <button class="btn" mat-raised-button color="primary" matStepperNext>

                Próximo

              </button>

            </div>

          </form>

        </mat-step>

        <mat-step [stepControl]="placaFormGroup">

          <form [formGroup]="placaFormGroup" class="input">

            <ng-template matStepLabel>
              Placa
            </ng-template>

            <mat-form-field appearance="outline">

              <mat-label>
                placa
              </mat-label>

              <input matInput formControlName="placa" placeholder="Placa ">

            </mat-form-field>


            <div class="acoes-step">

              <button mat-button matStepperPrevious>

                Voltar

              </button>

              <button mat-raised-button color="primary" matStepperNext>

                Próximo

              </button>

            </div>

          </form>

        </mat-step>

        <mat-step [stepControl]="grupoFormGroup">

          <form [formGroup]="grupoFormGroup" class="input">

            <ng-template matStepLabel>
              Grupo
            </ng-template>

            <mat-form-field appearance="outline">

    <mat-label>Grupo do veículo</mat-label>

    <mat-select formControlName="grupoId">

      @for (grupo of grupos; track grupo.id) {

        <mat-option [value]="grupo.id">
          {{ grupo.nome }}
        </mat-option>

      }

    </mat-select>

  </mat-form-field>

            <div class="acoes-step">

              <button mat-button matStepperPrevious>

                Voltar

              </button>

              <button mat-raised-button color="primary" matStepperNext>

                Revisar

              </button>

            </div>

          </form>

        </mat-step>


        <mat-step>

          <ng-template matStepLabel>
            Confirmar
          </ng-template>

          <div class="resumo">

            <h3>Novo veiculo</h3>

             <p>
              <strong>Modelo:</strong>
              {{ modeloFormGroup.value.modelo }}
            </p>

             <p>
              <strong>Placa:</strong>
              {{ placaFormGroup.value.placa }}
            </p>

            <p>
              <strong>Grupo:</strong>
              {{ grupoFormGroup.value.grupoId }}
            </p>

          </div>


          <div class="acoes-step">

            <button mat-button matStepperPrevious>

              Voltar

            </button>

            <button mat-raised-button color="primary" (click)="cadastrarVeiculo()">

              Cadastrar plano

            </button>

          </div>

        </mat-step>


      </mat-stepper>

    </div>

  </mat-expansion-panel>

</div>