<span class="group-label">Cadastros</span>
<mat-nav-list>
  <a mat-list-item routerLink="/grupos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>folder</mat-icon>
    <span matListItemTitle>Grupos de veículos</span>
  </a>
  <a mat-list-item routerLink="/veiculos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>directions_car</mat-icon>
    <span matListItemTitle>Veículos</span>
  </a>
  <a mat-list-item routerLink="/empresas" routerLinkActive="active-link">
    <mat-icon matListItemIcon>business</mat-icon>
    <span matListItemTitle>Empresas de assist.</span>
  </a>
  <a mat-list-item routerLink="/planos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>shield</mat-icon>
    <span matListItemTitle>Planos de assist.</span>
  </a>
</mat-nav-list>

<span class="group-label">Vínculos</span>
<mat-nav-list>
  <a mat-list-item routerLink="/vinculos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>link</mat-icon>
    <span matListItemTitle>Veículo ↔ plano</span>
  </a>
</mat-nav-list>